body{background:#0e1623;color:white;font-family:tahoma;padding:20px}
.box{background:#162235;padding:15px;border-radius:12px;margin-bottom:15px}
input,select,textarea,button{
width:100%;padding:10px;margin-top:6px;border-radius:8px;border:none
}
button{background:#2f81ff;color:white;font-weight:bold;cursor:pointer}
.card{background:#1c2c45;padding:12px;border-radius:10px;margin-bottom:10px}